
.title {
    text-align: center;
    font-size: 5vw;
    font-family:Agency FB;
        color: #ffffff;
}

.minititle {
    text-align: center;
    font-size: 2.3vw;
    font-family:Agency FB;
        color: #ffffff;
}

.content{
  padding: 2vw;
  text-align: center;
  align-self: center;
      font-family:Agency FB;
    color: #ffffff;
}

input#image-file {
  display: none;
}
